{% extends 'journal/navbar.html' %}

{% block content %}

    <br>

    <div class="container bg-white shadow-md p-5 form-layout">

        <h1>My thoughts</h1>

        <br>

        {% for thought in thoughts %}
            <br>
            {{ thought.title }}
            <br>
            {{ thought.content }}
            <br>
            {{ thought.date_posted}}
            <br>

            <a href="{% url 'update_thought' thought.id %}">Update thought</a>
            <br>
            <a href="{% url 'delete_thought' thought.id %}">Delete thought</a>
            <br>
        {% endfor %}

    </div>

    <br>

{% endblock %}


